https://python-programming.quantecon.org/python_essentials.html

In [1]:
x = True
type(x)

bool

In [3]:
y = 100 < 10
y

False

In [4]:
x + y

1

In [5]:
x * y

0

In [6]:
True + True

2

In [7]:
bools = [True, True, False, True]  # List of Boolean values

sum(bools)

3

In [8]:
x = complex(1, 2)
y = complex(2, 1)
print(x * y)

type(x)

5j

complex

In [9]:
x = ('a', 'b')  # Parentheses instead of the square brackets
x = 'a', 'b'    # Or no brackets --- the meaning is identical
x

('a', 'b')

In [10]:
type(x)

tuple

In [11]:
x = [1, 2]
x[0] = 10
x

[10, 2]

In [12]:
x = (1, 2)
x[0] = 10

TypeError: 'tuple' object does not support item assignment

In [13]:
integers = (10, 20, 30)
x, y, z = integers
x

10

In [14]:
y

20

In [15]:
a = [2, 4, 6, 8]
a[1:]

[4, 6, 8]

In [16]:
a[1:3]

[4, 6]

In [17]:
a[-2:]  # Last two elements of the list

[6, 8]

In [18]:
s = 'foobar'
s[-3:]  # Select the last three elements

'bar'

In [19]:
d = {'name': 'Frodo', 'age': 33}
type(d)

dict

In [20]:
d['age']

33

In [21]:
s1 = {'a', 'b'}
type(s1)

set

In [22]:
s2 = {'b', 'c'}
s1.issubset(s2)

False

In [23]:
s1.intersection(s2)

{'b'}

In [24]:
s3 = set(('foo', 'bar', 'foo'))
s3

{'bar', 'foo'}

In [25]:
f = open('newfile.txt', 'w')   # Open 'newfile.txt' for writing
f.write('Testing\n')           # Here '\n' means new line
f.write('Testing again')
f.close()

In [26]:
%pwd

'c:\\Users\\sungh\\Documents\\GitHub\\python_practice\\quantecon'

In [27]:
f = open('newfile.txt', 'r')
out = f.read()
out

'Testing\nTesting again'

In [28]:
print(out)

Testing
Testing again

In [29]:
%%file us_cities.txt
new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229

Writing us_cities.txt

In [30]:
data_file = open('us_cities.txt', 'r')
for line in data_file:
    city, population = line.split(':')         # Tuple unpacking
    city = city.title()                        # Capitalize city names
    population = f'{int(population):,}'        # Add commas to numbers
    print(city.ljust(15) + population)
data_file.close()

New York       8,244,910
Los Angeles    3,819,702
Chicago        2,707,120
Houston        2,145,146
Philadelphia   1,536,471
Phoenix        1,469,471
San Antonio    1,359,758
San Diego      1,326,179
Dallas         1,223,229

In [31]:
x_values = [1, 2, 3]  # Some iterable x
for x in x_values:
    print(x * x)

1
4
9

In [32]:
for i in range(len(x_values)):
    print(x_values[i] * x_values[i])

1
4
9

In [33]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Seoul', 'Beijing')
for country, city in zip(countries, cities):
    print(f'The capital of {country} is {city}')

The capital of Japan is Tokyo
The capital of Korea is Seoul
The capital of China is Beijing

In [34]:
names = ['Tom', 'John']
marks = ['E', 'F']
dict(zip(names, marks))

{'Tom': 'E', 'John': 'F'}

In [35]:
letter_list = ['a', 'b', 'c']
for index, letter in enumerate(letter_list):
    print(f"letter_list[{index}] = '{letter}'")

letter_list[0] = 'a'
letter_list[1] = 'b'
letter_list[2] = 'c'

In [36]:
animals = ['dog', 'cat', 'bird']
plurals = [animal + 's' for animal in animals]
plurals

['dogs', 'cats', 'birds']

In [37]:
range(8)

range(0, 8)

In [38]:
doubles = [2 * x for x in range(8)]
doubles

[0, 2, 4, 6, 8, 10, 12, 14]

In [39]:
x, y = 1, 2
x < y

True

In [40]:
x > y

False

In [41]:
1 < 2 < 3

True

In [42]:
1 != 2

True

In [43]:
x = 'yes' if 42 else 'no'
x

'yes'

In [44]:
x = 'yes' if [] else 'no'
x

'no'

In [45]:
1 < 2 and 'f' in 'foo'

True

In [46]:
1 < 2 and 'g' in 'foo'

False

In [47]:
1 < 2 or 'g' in 'foo'

True

In [48]:
not not True

True

In [49]:
def f(x):
    if x < 0:
        return 'negative'
    return 'nonnegative'

In [50]:
def f(x):
    """
    This function squares its argument
    """
    return x**2

In [51]:
f?

Signature: f(x)
Docstring: This function squares its argument
File:      c:\users\sungh\appdata\local\temp\ipykernel_2864\238177437.py
Type:      function

In [52]:
f??

Signature: f(x)
Source:
def f(x):
    """
    This function squares its argument
    """
    return x**2
File:      c:\users\sungh\appdata\local\temp\ipykernel_2864\238177437.py
Type:      function

In [53]:
def f(x):
    return x**3

In [54]:
f = lambda x: x**3

In [55]:
from scipy.integrate import quad

quad(lambda x: x**3, 0, 2)

(4.0, 4.440892098500626e-14)

In [56]:
def f(x, a=1, b=1):
    return a + b * x

In [57]:
f(2)

3

In [58]:
f(2, a=4, b=5)

14

In [59]:
# ex1
x_vals = [1, 2, 3]
y_vals = [1, 1, 1]
sum([x * y for x, y in zip(x_vals, y_vals)])

6

In [60]:
# ex1 part 1
sum(x * y for x, y in zip(x_vals, y_vals))

6

In [61]:
# ex1 part 2
sum([x % 2 == 0 for x in range(100)])

50

In [62]:
# ex1 part 2
sum(x % 2 == 0 for x in range(100))

50

In [63]:
# ex1 part 2
len([x for x in range(100) if x % 2 == 0])

50

In [64]:
# ex1 part 2
sum([1 for x in range(100) if x % 2 == 0])

50

In [65]:
# ex1 part 3
pairs = ((2, 5), (4, 2), (9, 8), (12, 10))
sum([x % 2 == 0 and y % 2 == 0 for x, y in pairs])

2

In [66]:
# ex2
def p(x, coeff):
    return sum(a * x**i for i, a in enumerate(coeff))
p(1, (2, 4))

6

In [67]:
# ex3
def f(string):
    count = 0
    for letter in string:
        if letter == letter.upper() and letter.isalpha():
            count += 1
    return count

f('The Rain in Spain')

3

In [68]:
# ex3
def count_uppercase_chars(s):
    return sum([c.isupper() for c in s])

count_uppercase_chars('The Rain in Spain')

3

In [69]:
# ex4
def f(seq_a, seq_b):
    is_subset = True
    for a in seq_a:
        if a not in seq_b:
            is_subset = False
    return is_subset

# == test == #

print(f([1, 2], [1, 2, 3]))
print(f([1, 2, 3], [1, 2]))

True
False

In [70]:
# ex4
def f(seq_a, seq_b):
    return set(seq_a).issubset(set(seq_b))

In [71]:
# ex5
def linapprox(f, a, b, n, x):
    """
    Evaluates the piecewise linear interpolant of f at x on the interval
    [a, b], with n evenly spaced grid points.

    Parameters
    ==========
        f : function
            The function to approximate

        x, a, b : scalars (floats or integers)
            Evaluation point and endpoints, with a <= x <= b

        n : integer
            Number of grid points

    Returns
    =======
        A float. The interpolant evaluated at x

    """
    length_of_interval = b - a
    num_subintervals = n - 1
    step = length_of_interval / num_subintervals

    # === find first grid point larger than x === #
    point = a
    while point <= x:
        point += step

    # === x must lie between the gridpoints (point - step) and point === #
    u, v = point - step, point

    return f(u) + (x - u) * (f(v) - f(u)) / (v - u)

In [72]:
# ex6
import numpy as np

n = 100
ϵ_values = []
for i in range(n):
    e = np.random.randn()
    ϵ_values.append(e)
n = 100
ϵ_values = [np.random.randn() for i in range(n)]